@import './base.css';

#app {
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-weight: normal;
  background-color: white;
  display: gird;
  grid-template-rows: 12rem auto;
}

a {
  text-decoration: none;
  transition: 0.4s;
  padding: 3px;
}

.tab-wrapper {
  width: calc(100% - 1rem);
  margin: auto;
}

.container {
  width: calc(100vw - 11.4rem);
  height: 100vh;
  position: fixed;
  left: 11.4rem;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 0;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
}

.container-full {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: white;
  transition-duration: 500ms;
  z-index: 100;
  top: 0;
}

.margin-top {
  margin-top: 2rem;
}

.inputTitle {
  font-size: 1.6rem;
  margin-bottom: 0.4rem;
  font-weight: 500;
}

.input-subtitle {
  font-size: 1rem;
  margin-bottom: 0.4rem;
  text-align: left;
  font-weight: 500;
}

.topIcon {
  color: var(--main-lila-hell);
  padding: 0.5rem 0.5rem 0 0.5rem;
  position: fixed;
  cursor: pointer;
  z-index: 1;
}

.closeIcon {
  font-size: 1.4rem;
  right: 0.4rem;
}

.container::-webkit-scrollbar,
.content-wrapper::-webkit-scrollbar,
.scroll-wrapper::-webkit-scrollbar,
.scroll-wrapper-full::-webkit-scrollbar,
.container-full::-webkit-scrollbar {
  display: none;
}

.content-wrapper {
  width: 50%;
  height: auto;
  margin: auto;
  position: relative;
}

.scroll-wrapper {
  background-color: white;
  padding: 1rem;
  position: fixed;
  width: calc(100vw - 11.4rem);
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
}

.scroll-wrapper-full {
  margin: auto;
  background-color: white;
  padding: 0 1rem 1rem 1rem;
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  top: 0;
}

.slider-wrapper {
  position: absolute;
}

.modal-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 1);
  z-index: 100;
}

.info-comp .head {
  text-align: left;
  font-weight: 600;
  line-height: 1rem;
  width: 4.6rem;
}

.info-comp .unit {
  font-size: 0.8rem;
  margin-left: 1px;
}

.info-comp .value {
  font-weight: 600;
  font-size: 2.4rem;
  margin: 0
}

.heart-pulse {
  color: var(--heart);
}

.shoe-prints {
  color: var(--steps);
}

.person-walking-dashed-line-arrow-right {
  color: var(--speed);
}

.bed {
  color: var(--sleep);
}

.box {
  --width: 7rem;

  display: grid;
  grid-template-columns: var(--width) auto;
  width: 100%;
  height: calc(var(--width));
  background-color: var(--white-lila);
  border-radius: 1rem;
  margin: auto;
  padding: 0rem;
  overflow: hidden;
}

.box-arrowRight {
  float: right;
  margin-right: 1rem;
  margin-top: 0rem;
  font-size: 1.2rem;
  color: rgb(173, 150, 174);
}

.box-text {
  margin: auto 0;
  margin-left: 1rem;
  line-height: 1.3rem;
}

.box-name {
  font-weight: 600;
  font-size: 1.2rem
}

.table-wrapper,
.schedule-wrapper {
  background-color: var(--white-lila);
  padding: 0.2rem 0.6rem;
  border-radius: 0.8rem;
}

table {
  width: 100%;
}

.fixed {
  width: 100%;
  height: 3.6rem;
  background-color: white;
}

.top-title {
  margin: 1rem 0;
  font-size: 1.2em;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  font-weight: 600;
}

ul {
  list-style: none;
}

input[type=text],
.inputNum,
.radioSelection,
select,
.button,
.text-area {
  width: 100%;
  margin: auto;
}

input[type=text],
.inputNum,
select {
  background-color: var(--white-lila);
  border: none;
  border-radius: 0.8rem;
  height: 2.4rem;
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  outline: none;
  -moz-appearance: textfield;
}

select {
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 1rem top 50%;
  background-size: 0.65rem auto;
  cursor: pointer;
  color: var(--main-lila-hell)
}

input[type=radio],
input[type=checkbox] {
  opacity: 0;
  position: absolute;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button {
  height: 2.6rem;
  border: none;
  border-radius: 0.8rem;
  font-size: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  cursor: pinter;
}

.check-icon {
  display: inline-block;
  width: 1.6rem;
  color: var(--main-lila-hell);
}

.center {
  text-align: center;
}

@media screen and (max-aspect-ratio: 1) {
  .container {
    width: 100vw;
    z-index: 1;
    height: calc(100vh - 4rem);
    left: 0;
  }

  .scroll-wrapper {
    width: 100vw;
    height: calc(100vh - 4rem);
  }

  .content-wrapper {
    width: 90%;
  }

  .info-comp th {
    width: 5em;
  }
}